.logged_in_header{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
.btn-log-out {
 border: none;
 border-radius: 100%;
 width: 40px;
 height: 40px;
 background-color: rgba(3, 3, 3, 0.5);
 color: #f6f6f6;
 font-size: 20px;
 margin-left: 15px;
 cursor: pointer;
}
.btn-log-out:hover{
 background-color: #000000;
}

.display-comment{
 width: 100%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
}

ul{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 50%;
 margin: 0px;
 padding: 0px;
}

li{
 list-style-type: none;
 border-radius: 0px;
 margin-bottom: 0px;
 padding-left: 10px;
 display: flex;
 align-items: center;
}
li:nth-child(odd){
 background-color: #88B3FF;
 color: #f6f6f6;
}
li:nth-child(even){
 background-color: #7BFFB9;
 color: #333333;
}
.comment-txt{
 width: 85%;
}

.comment-field{
 width: 50%;
 height: auto;
}

.comment-field form {
 display: flex;
 flex-direction: column;
}

.comment-field form input {
 height: 50px;
 border: #333333 solid;
 border-radius: 0px;
 background-color: #333333;
 color: #f6f6f6;
 padding-left: 10px;
}

.btn-add-comment{
 width: 25%;
 border: none;
 border-radius: 10px;
 padding: 10px;
 background-color: #E8CE67;
 color: #333333;
 margin-top: 10px;
 cursor: pointer;
}
.btn-remove {
 border: none;
 border-radius: 100%;
 width: 40px;
 height: 40px;
 background-color: transparent;
 color: #f6f6f6;
 font-size: 20px;
 margin-left: 15px;
 cursor: pointer;
}
.btn-remove:hover{
 color: red;
}
