.profilespace {
 width: 30%;
}
.logged_in_header{
 width: 100%;
 display: flex;
 flex-direction: row;
 align-items: center;
}
.logged_in_header h2 {
 font-size: 20px;
 padding-right: 10px;
}
.btn-log-out {
 border: none;
 border-radius: 100%;
 width: 40px;
 height: 40px;
 background-color: rgba(3, 3, 3, 0.5);
 color: #f6f6f6;
 font-size: 20px;
 margin-left: 15px;
 cursor: pointer;
}
.btn-log-out:hover{
 background-color: #000000;
}
.menufield{
 display: flex;
 flex-direction: row;
 align-items: center;
}
.div-round {
 background-color: rgba(136, 179, 255, 1.0);
 color: #f6f6f6;
 width: 40px;
 height: 40px;
 border-radius: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 20px;
 margin-right: 10px;
}
.btn-round {
 border: none;
 border-radius: 100%;
 width: 40px;
 height: 40px;
 background-color: rgba(136, 179, 255, 1.0);
 color: #f6f6f6;
 font-size: 20px;
 margin-left: 15px;
 cursor: pointer;
 margin: 10px;
}
.btn-round-like {
 border: none;
 border-radius: 100%;
 width: 40px;
 height: 40px;
 background-color: rgba(136, 179, 255, 1.0);
 color: #EA88FF;
 font-size: 20px;
 margin-left: 15px;
 cursor: pointer;
 margin: 10px;
}

/*Styling for books*/
.display-book{
 width: 50%;
 height: auto;
 padding-bottom: 15px;
 padding-top: 15px;
}
.bookField{
 width: 100%;
 height: auto;
}
.books{
 display: flex;
 flex-direction: column;
 width: 100%;
 margin: 0px;
 padding: 0px;
}

.books li{
 display: flex;
 flex-direction: row;
 padding-left: 0px;

}
.book-info {
 display: flex;
 flex-direction: column;
 padding-left: 20px;
}
.data {
 display: flex;
 flex-direction: row;
 align-items: center;
}

/*Styling for comments*/
.display-comment{
 width: 100%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.comments{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 50%;
 margin: 0px;
 padding: 0px;
}

li{
 list-style-type: none;
 border-radius: 0px;
 margin-bottom: 0px;
 padding-left: 10px;
 display: flex;
 align-items: center;
}
.commentsList:nth-child(odd){
 background-color: #88B3FF;
 color: #f6f6f6;
}
.commentsList:nth-child(even){
 background-color: #7BFFB9;
 color: #333333;
}
.comment-txt{
 width: 85%;
}

.comment-field{
 width: 50%;
 height: auto;
}

.comment-field form {
 display: flex;
 flex-direction: column;
}

.comment-field form input {
 height: 50px;
 border: #333333 solid;
 border-radius: 0px;
 background-color: #333333;
 color: #f6f6f6;
 padding-left: 10px;
}

.btn-add-comment{
 width: 25%;
 border: none;
 border-radius: 10px;
 padding: 10px;
 background-color: #E8CE67;
 color: #333333;
 margin-top: 10px;
 cursor: pointer;
}
.btn-remove {
 border: none;
 border-radius: 100%;
 width: 40px;
 height: 40px;
 background-color: transparent;
 color: #f6f6f6;
 font-size: 20px;
 margin-left: 15px;
 cursor: pointer;
}
.btn-remove:hover{
 color: red;
}

.likedbooks{
 display: flex;
 flex-direction: row;
 align-items: center;
}

.userlistWrapper{
 display: flex;
 flex-direction: row;
 align-items: center;
}

.userlist{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
}

.btn-remove-user {
 border: none;
 border-radius: 100%;
 width: 40px;
 height: 40px;
 background-color: transparent;
 color: red;
 font-size: 20px;
 margin-left: 15px;
 cursor: pointer;
}
